@font-face {
    font-family: "PerMarker";
    src: url("/PermanentMarker-Regular.ttf") format("truetype");
    font-weight: 900
}

@font-face {
    font-family: "Merienda";
    src: url("/Merienda-VariableFont_wght.ttf") format("truetype");
    font-weight: 900
}

@font-face{
    font-family: "Quicksand";
    src: url("/Quicksand-VariableFont_wght.ttf") format("truetype");
}