.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2A4D6F;
    --bs-btn-border-color: #2A4D6F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #24415e;
    --bs-btn-hover-border-color: #223e59;
    --bs-btn-focus-shadow-rgb: 74, 104, 133;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #223e59;
    --bs-btn-active-border-color: #203a53;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2A4D6F;
    --bs-btn-disabled-border-color: #2A4D6F;
}