@font-face {
    font-family: "PerMarker";
    src: url("/public/Fuentes/PermanentMarker-Regular.ttf") format("truetype");
    font-weight: 900
}

@font-face {
    font-family: "Merienda";
    src: url("/public/Fuentes/Merienda-VariableFont_wght.ttf") format("truetype");
    font-weight: 900
}

@font-face{
    font-family: "Quicksand";
    src: url("/public/Fuentes/Quicksand-VariableFont_wght.ttf") format("truetype");
}