html{
    font-family: 'Josefin sans';
}

body {
    margin: 3%;
    background: linear-gradient(90deg, rgba(0,247,255,1) 0%, rgba(162,0,255,0.8407738095238095) 52%, rgba(150,0,255,1) 100%);
}

#main-title {
    padding: 10px 10px 10px 10px;
    color: #00eeff;
    text-align: center;
    font-size: 5em;
    background-color: rgb(71, 0, 151);
}

.bold {
    color: #00eeff;
    font-size: 1,5em;
    font-weight: 600;
    text-align: center;
    vertical-align: bottom;
}

.bold1 {
    color: #37009c;
    font-size: 1,5em;
    font-weight: 600;
    text-align: center;
    vertical-align: bottom;
}

.titulo-seccion {
    color: #14b4db;
    text-align: center;
    font-size: 2.5em;
    background-color: rgb(132, 0, 255);
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.Caja1 {
    padding: 0.1% 3% 3% 3%;
    margin: 3%;
    background-image: url("EnfuegoBog.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    -webkit-box-shadow: -26px 25px 5px 0px rgba(255, 0, 0, 0.36);
    -moz-box-shadow: -26px 25px 5px 0px rgba(60, 255, 0, 0.36);
    box-shadow: -26px 25px 5px 0px rgba(62, 19, 255, 0.36);
}

.ContCajaitems {
    background-color: none;
    color: white;
    padding: 0px;
    text-align: left;
}

header section{
    flex: 60%;
    background-color: none;
    padding: 0px;
}

header section p {
    margin: 0px 0px 0px 0px ;
    color: #5300c0;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 3em;
    font-weight: 600;
    text-align: center
}

header aside{
    flex: 15px;
    background-color: none;
    padding: 0px
}

header aside img{
    margin:0px 0px 0px 0px;
    width: 20em;
}

.Caja2 {
        padding: 0.1% 3% 3% 3%;
        margin: 3%;
        background-color: #5acaec;
        border-radius: 30px;
        -webkit-box-shadow: -26px 25px 5px 0px rgba(255, 0, 0, 0.36);
        -moz-box-shadow: -26px 25px 5px 0px rgba(60, 255, 0, 0.36);
        box-shadow: -26px 25px 5px 0px rgba(62, 19, 255, 0.36);
}

.ContCaja2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5%;
}

.Caja3 {
    padding: 0.1% 3% 3% 3%;
    margin: 3%;
    background-color: #5acaec;
    border-radius: 30px;
    -webkit-box-shadow: -26px 25px 5px 0px rgba(255, 0, 0, 0.36);
    -moz-box-shadow: -26px 25px 5px 0px rgba(60, 255, 0, 0.36);
    box-shadow: -26px 25px 5px 0px rgba(62, 19, 255, 0.36);
}

p {
    font-size: 1.6em;
    color: #460096;
    text-align: left;
    letter-spacing: 0.005em;
    position: -webkit-sticky;
}

li {
    font-size: 1.6em;
    color: #460096;
    text-align: left;
    letter-spacing: 0.005em;
}

h2 {
    font-size: 1.6em;
    color: #5d00b4;
    text-align: center;
    letter-spacing: 0.005em;
}

h3 {
    font-size: 1.6em;
    color: #460096;
    text-align: left;
    letter-spacing: 0.005em;
}

label {
    display: inline-block;
    width: 80px;
    font-size: 1.6em;
    color: #460096;
    text-align: left;
    letter-spacing: 0.005em;
}

input {
    position: relative;
    left: 25px;
    background-color: #6100bd;
    font-size: 1.6em;
    color: #460096;
    text-align: left;
    letter-spacing: 0.005em;
}

option {
    background-color: #6100bd;
    font-size: 1em;
    color:bisque;
    text-align: left;
    letter-spacing: 0.005em;
}

select {
    position: relative;
    left: 25px;
    background-color: #6100bd;
    font-size: 1.6em;
    color: bisque;
    text-align: left;
    letter-spacing: 0.005em;
}

button {
    background-color: #6100bd;
    font-size: 1.6em;
    color:bisque;
    text-align: left;
    letter-spacing: 0.005em;
}

td {
    padding: 10px;
    font-size: 1em;
    color: #460096;
    text-align: left;
    letter-spacing: 0.005em;
}

th {
    padding: 10px;
    font-size: 1em;
    color: #460096;
    text-align: left;
    letter-spacing: 0.005em;
}

input:hover{
    background-color: #8400ff;
    color:bisque
}
label:hover{
        background-color: #8400ff;
        color:bisque
    }
select:hover{
    background-color: #8400ff;
    color:bisque
}
button:hover{
    background-color: #8400ff;
    color:bisque
}









/*TIPO DE SELECTORES DE CLASE*/

/*selector de id*/
/*#main-title*//* {
    color: #00ff00;
    text-align: center;
    font-size: 50px;
    background-color: rgb(0, 255, 242);
}

/*selector de clase*/
/*.titulo-seccion*//* {
    color: #5d00c7;
    text-align: center;
    font-size: 50px;
    background-color: rgb(0, 255, 242);
}

/*selector de tipo*/
/*body*//* {
    background: rgb(0,247,255);
background: linear-gradient(90deg, rgba(0,247,255,1) 0%, rgba(162,0,255,0.8407738095238095) 52%, rgba(150,0,255,1) 100%);
}

/*selector de atributos*/
/*[attr]*//* { propiedades de estilo }
/*[attr=value]*//*{ propiedades de estilo }
/*[attr~=value]*//*{ propiedades de estilo }
/*[attr|=value]*//*{ propiedades de estilo }
/*[attr^=value]*//*{ propiedades de estilo }
/*[attr$=value]*//*{ propiedades de estilo }
/*[attr*=value]*//*{ propiedades de estilo }
/*  ejemplo para hipervinculos en HTML quedaria
    <li><a href="http://pagina.com"pagina.com</a></li>   *//*
a[href*="pagina"]{
    color:orange;
}

/*selector de peuso-clase*/
/*tipo*//*:hover
/*tipo*//*:active
/*tipo*//*:visited
/*tipo*//*:invalid

/*button*//*:hover {
    font-size: 10em;
    background-color: #5d00c7;
}